.container {
    font-family: "Neo Sans Arabic", sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    height: 100vh;
    background: url("../../../src/assets/5e44500c3c9e1d685a6706b0b23e8ec3.png")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  .icon-container .fa-x {
    color: #84929e; /* Default color */
  }
  
  .icon-container:hover .fa-x {
    color: red; /* Color on hover */
  }
  