<div class="container">
  <div class="">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <!-- X Icon -->
      <div
        class="shadow-sm"
        style="
          background-color: #f4f4f4;
          border-radius: 7.11px;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: background-color 0.3s ease;
        "
      >
        <div class="icon-container">
          <i class="fa-solid fa-x fa-2xs"></i>
        </div>
      </div>

      <!-- العودة and Arrow Icon -->
      <div
        class="d-flex justify-content-end align-items-center"
        (click)="backStepHandler()"
      >
        <div class="me-1">العودة</div>

        <div
          class="shadow-sm"
          style="
            color: #84929e;
            background-color: #f4f4f4;
            border-radius: 7.11px;
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          "
        >
          <i class="fa-solid fa-arrow-right" style="color: #2e2e2e"></i>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form>
        <div class="mt-2 mb-2">
          <div class="row mb-0">
            <div
              class="col-md-4 d-flex justify-content-center align-items-center"
            >
              <img
                src="../../assets/envelope.png"
                class="img-fluid rounded mb-0"
                style="max-width: 100%; height: auto"
                alt="Description Image"
              />
            </div>

            <div class="col-md-8 d-flex justify-content-end align-items-center">
              <div class="row">
                <div class="col-12">
                  <h4 class="card-title text-end mb-5 fw-bold">
                    قم بكتابة وصف منزل أحلامك
                  </h4>
                </div>
                <div class="col-12">
                  <label
                    for="shortDescription"
                    class="form-label text-end float-end"
                    style="color: #6b7280"
                    >وصف مختصر عن المنزل</label
                  >
                </div>
                <div class="col-12">
                  <input
                    type="text"
                    class="form-control text-end shadow"
                    id="shortDescription"
                    placeholder="فيلا قريبة من التجمع الخامس"
                  />
                </div>
                <div class="col-12 mt-5">
                  <label
                    for="detailedDescription"
                    class="form-label float-end"
                    style="color: #6b7280"
                  >
                    قم بكتابة وصف تفصيلي عن المنزل
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Toolbar with Icons -->
          <div
            class="d-flex justify-content-end"
            style="
              background-color: #FCFCFC;
              border-radius: 10px;
              padding: 10px;
            "
          >
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Font Size"
            >
              <i class="fa-solid fa-font"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Text Size"
            >
              <i class="fa-solid fa-text-height"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Text Color"
            >
              <i class="fa-solid fa-palette"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Bold Text"
            >
              <i class="fa-solid fa-bold"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Italic Text"
            >
              <i class="fa-solid fa-italic"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Underline"
            >
              <i class="fa-solid fa-underline"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Strikethrough"
            >
              <i class="fa-solid fa-strikethrough"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Align Left"
            >
              <i class="fa-solid fa-align-left"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Align Center"
            >
              <i class="fa-solid fa-align-center"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Align Right"
            >
              <i class="fa-solid fa-align-right"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Ordered List"
            >
              <i class="fa-solid fa-list-ol"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Ordered List"
            >
              <i class="fa-solid fa-list-ul"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Add Photo"
            >
              <i class="fa-solid fa-image"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary me-2"
              title="Link"
            >
              <i class="fa-solid fa-link"></i>
            </button>
          </div>

          <textarea
            class="form-control text-end"
            id="detailedDescription"
            rows="7"
            placeholder="عزيزي [اسم العميل]،
            نحن في [اسم الشركة] نسعى دائمًا لتقديم أفضل الحلول التي تلبي احتياجاتك وتجعل حياتك أسهل. لذلك، يسعدنا أن نعلن عن إطلاق ميزات جديدة ومثيرة في منصتنا!
            ما الجديد؟
            ميزة X: التي تتيح لك [وصف مختصر للميزة وفائدتها].
            ميزة Y: لتمكينك من [وصف مختصر للميزة وفائدتها].
            ميزة Z: التي تساعدك على [وصف مختصر للميزة وفائدتها].
            لماذا تختار [اسم الشركة]؟
            خدمة عملاء متميزة: نحن هنا لدعمك على مدار الساعة.
            أسعار تنافسية: احصل على أفضل قيمة مقابل ما تدفعه.
            أمان وثقة: نحن نحافظ على سرية معلوماتك وأمانها.
            عرض خاص! احصل على خصم بنسبة [نسبة الخصم]% عند استخدام الكود NEWFEATURES أثناء عملية الشراء. العرض ساري حتى [تاريخ انتهاء العرض].
            لا تفوت الفرصة! انقر هنا للاكتشاف الآن: [رابط الموقع]
            إذا كان لديك أي استفسارات أو تحتاج إلى مساعدة، لا تتردد في الاتصال بنا على [بيانات الاتصال].
            شكرًا لاختيارك [اسم الشركة]. نحن نتطلع إلى خدمتك وتقديم أفضل تجربة ممكنة لك.
            مع أطيب التحيات، فريق [اسم الشركة]"
          ></textarea>
        </div>

        <!-- Submit Button -->
        <div class="d-flex justify-content-center">
          <div>
            <button type="submit" class="btn btn-primary" style="width: 200px" (click)="nextStepHandler()">
              الخطوة التالية
            </button>
          </div>
        </div>

        <!-- Short Description -->
        <div class="mt-3">
          <div class="text-center">
            <label
              for="shortDescription"
              class="form-labe"
              style="color: #6b7280"
            >
              قم بالضغط على زر "بدء" للبدء في العملية، لادخال معلومات المنزل
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
