/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Neo Sans Arabic";
  src: url("/assets/fonts/NeoSansArabic-Regular.woff2") format("woff2"),
    url("/assets/fonts/NeoSansArabic-Regular.woff") format("woff"),
    url("/assets/fonts/alfont_com_NeoSansArabic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Neo Sans Arabic", sans-serif;
}

